body {
    font-family: Arial, sans-serif;
}

fieldset {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 30px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    display: block;
}

input {
    width: 300px;
    padding: 5px;
    border: 2px solid black;
}

span {
    width: 300px;
    padding: 5px;
}

button {
    border: 2px solid black;
    background: white;
    cursor: pointer;
}

.top-line {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}